

@import "./components/navbarSite.scss";
@import "./components/footerSite.scss";

@import './pages/home.scss';



*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

