.blogContainer__tittle{
    text-align: center;
    font-weight: 700;   
}

.blogContainer__ArticleTitle{
    text-indent: 3rem;
    font-weight: 500;
}

.blogContainer__p{
    font-size: 1rem;
    text-indent: 1rem;
    padding: 0 4rem 0 0.1rem;
}

.blogContainer__p-small{
    font-size: 0.8rem;
    text-indent: 1rem;
}

.orderlist__container{
    font-size: 0.8rem;
}

