.navbarSite{
    background-color: rgba(0, 0, 0, 0.867);
    position: relative;
    z-index: 200;
    width: 100%;
}

.navbarSite__link{
    color: white;
    font-size: 0.8rem;
    margin-right: 1rem;
    position:relative;
}

.navbarSite__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%; 
    height: 2px; 
    background-color: #ff0000; 
    transform: scaleX(0); 
    transform-origin: bottom left;
    transition: transform 0.4s; 
}

.navbarSite__link:hover::after {
  transform: scaleX(1); 
}

.nav-link.link {
    font-size: 1rem;
}


#sidebarToggle {
    color: rgba(255, 255, 255, 0.5);
  }


  @media (max-width: 767px) {
    #layoutSidenav {
      width: 100%; /* Inicialmente oculto */
      transition: width 0.3s ease; /* Transición suave */
      position: absolute;
      min-height: 150vh;
      z-index: 4;
    }
  
    .sb-sidenav-toggled {
      width: 0; /* Ocultar el sidebar */
    }
  }